{% extends "base.html" %}
{% load static %}

{% block content  %}

<div class="container-login ">
    <div class="row mt-5 ml-5">
        <div class="col-12 col-lg-6 mt-5 mx-auto sub-form">
            <h3 class="sub-form-head">Sign up for Coder Space Newsletter</h3>
            <p class="sub-form-text">For discount codes, new release previews before they go live on the site.</p>
            <p class="sub-form-text">First look for our subscribed customers on our yearly sales events.</p>
            <p class="sub-form-text">To unsubscribe from the newletter<a href="{% url 'unsubscribe' %}"> Unsubscribe here</a></p>
            <form class="mt-2" action="{% url 'subscribe' %}" method="POST" id="newsletter-subscription">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Subscribe</button>
                </form>
                <a href="{% url 'home' %}"><button class="btn btn-primary">Return Home</button></a>
        </div>
    </div>
</div>

{% endblock %} 