{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content  %}
<div class="container-about">
    <div class="row">
        <div class="col-10 ml-5 text-center">
            <h1 class="text-center">About us</h1>
            <p class="about-text">
                Here at coder space we aim to help you make your coding or office space a truly unique place,
                to help inspire and create a posivtive work environment.
                From comfortable sytlish chairs, spacious ergonomic desks to extra computer screens and decor
                to liven up your work space.
                Enjoy browsing our large range and if you have any queries or need a product that isn't on our site,
                please use our contact form and we will get back to you as soon as possible.
            </p>

            <p>Coder Space Admin Team <i class="fas fa-robot"></i></p>
            <a href="{% url 'contact' %}" class="btn btn-sm btn-primary title-font">Contact Us >>></a>

            <a href="{% url 'products' %}" class="btn btn-sm btn-primary title-font ml-5">Shop Now >>></a>

        </div>

    </div>
</div>

{% endblock %}