html {
    height: 100%;
    overflow-x: hidden;


}

/* Body */
body {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}


.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/static/images/hero-image.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.hero .btn {
    position: fixed;
    display: block;
    width: 200px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    color: rgb(247, 246, 246);
    text-decoration: none;
    font-size: 140%;
    font-family: 'Chakra Petch', sans-serif;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 5px rgb(0, 205, 255);


}

.hero .btn:hover {
    background-color: rgba(0, 205, 255, 0.8);
}

/* Nav Bar */


.navbar,
.top {
    background-color: black;
    box-shadow: 0px 25px 20px -20px rgba(0, 205, 255);
    z-index: 999;
}

.fa-bars {
    color: rgb(0, 205, 255);
    font-size: 28px;
    border-color: rgb(0, 205, 255);
    ;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: rgb(0, 205, 255);
}

.navbar-toggler {
    background-color: rgb(3, 3, 3);
    font-size: 20px;
}

.nav-link {
    color: rgb(0, 205, 255);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 120%;
}

.dropdown-item,
.dropdown-menu
{
    background-color: black;
    color: rgb(0, 205, 255);
    font-family: 'Chakra Petch', sans-serif;
    z-index: 9999999;

}

.dropdown-item:hover {
    background-color: rgb(0, 205, 255);
    color: black;
}

.basket-label,
.basket-icon {
    align-items: flex-end;
    font-size: 90%;
}

/* banner */
#delivery-banner {
    background-color: black;
    color: #f6f4f3;
    font-family: 'Rokkitt', sans-serif;
    box-shadow: 0px 2px 5px rgb(0, 205, 255);
    z-index: 1;
}

/* Footer */
footer {
    position: relative;
    padding: 0px;
    box-shadow: 5px 5px 5px 5px rgba(0, 205, 255);
    width: 100vw;
    background-color: black;
    color: rgb(0, 205, 255);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 80%;
    box-shadow: 0px 5px 15px rgba(0, 205, 255);
}

.footer-mb-3 {
    font-size: 170%;
    text-decoration: underline;
    
}

.footer-title {
    font-size: 170%;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 205, 255);
}
.footer-menu {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 205, 255);
    font-size: 140%;
}

.footer-link {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 205, 255);
    font-size: 120%;
}

.social-links {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 205, 255);
    font-size: 180%;
}

.social-links:hover,
.footer-link:hover,
.nav-link:hover {
    color: white;
}

.login,
.logout {
    margin-top: 20%;
}

/* Product detail Page */
.overlay-products,
.overlay {
    margin-top: 5%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.header-container {
padding-top: 130px;
}

.card {
    border: 4px;
    border-style: ridge;
    border-color: rgb(13, 13, 14);
}

.prod-detail {
    width: 70%;
    height: 50%;
}

.card-container {
    margin-top: 15%;
}

.card-header {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 120%;
}

.card-footer {
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 205, 255);
    font-size: 150%;
}

.lead {
    font-size: 120%;
    font-family: 'Chakra Petch', sans-serif;
}

.prod-name {
    margin-top: 5%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 180%;
}

/* Product Review */
.review {
    margin-bottom: 5%;
}

.comment-title {
    font-family: 'Chakra Petch', sans-serif; 
    font-size: 150%;
    text-decoration: underline black;
}

.form-control {
    background-color: white;
    color: black;
}

.container-about {
    display: inline-block;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}


/* Buttons */
.btn-primary {
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 205, 255);
    margin-bottom: 10%;
}

.fa-trash:hover {
    color: red;

}

.btn-primary:hover {
    background-color: rgb(0, 205, 255);
    color: black;
}

/* Account access */
.container-login {
    margin-top: 20%;
}

.email {
    margin-bottom: 20%;
}

/* message container */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.about {
    font-size: 110%;
}

.profile-form,
.container-review {
    margin-bottom: 10%;
}

/*Newsletter*/
.sub-form{
    margin-top: 2%;
    margin-bottom: 20%;
}

.sub-form-head {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 180%;
    text-decoration: underline black;
}

.sub-form-text {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 120%;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Media Queries */
@media screen and (max-width: 869px)  {
    .signout {
        margin-bottom: 30%;
    }
    }


@media screen and (max-width: 600px) {
.hero .btn {
    margin-left: 20%;
}
.container-login {
    margin-top: 25%;
}
.signout {
    margin-bottom: 20%;
}
.container-about {
    margin-top: 25%;
}
}

@media screen and (max-width: 487px) {
    .container-login {
        margin-top: 40%;

    }
    .signout {
        margin-bottom: 20%;
    }
    .container-about {
        margin-top: 30%;
    }
    
}

@media screen and (max-width: 420px) {
    .container-login {
        margin-top: 50%;
        text-align: center;
        margin-right: 10%;

    }
    .signout {
        margin-bottom: 20%;
        
    }

.container-about {
    margin-top: 40%;
}
}

@media screen and (max-width: 420px) {
    .container-login {
        margin-top: 50%;
        text-align: center;
        margin-right: 10%;

    }
    .signout {
        margin-bottom: 20%;
        
    }
    .container-about {
        margin-top: 40%;
    }
    
}

@media screen and (max-width: 387px) {
    .container-login {
        margin-top: 50%;
        text-align: center;
        margin-right: 10%;

    }
    .signout {
        margin-bottom: 20%;
        
    }
    .container-about {
        margin-top: 50%;
    }
    }

