<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="product-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="product-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Furniture
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=desks" class="dropdown-item">Desks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="product-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Computers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=computer_laptops" class="dropdown-item">Computers & Laptops</a>
                <a href="{% url 'products' %}?category=screens" class="dropdown-item">Screens</a>
                <a href="{% url 'products' %}?category=mouse" class="dropdown-item">Mouse</a>
                <a href="{% url 'products' %}?category=keyboards" class="dropdown-item">Keyboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="product-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Sound
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=headsets" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?category=speakers" class="dropdown-item">Speakers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="product-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Room Decor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=lights" class="dropdown-item">Lights</a>
                <a href="{% url 'products' %}?category=wall_art" class="dropdown-item">Wall Art</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
            </div>
        </li>