{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-details"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid prod-detail" width="50" height="70" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid prod-detail" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container">
                <p class="mb-0 prod-name font-weight-bold">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                {% if product.rating %}
                <small class="rate"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="rate">No Rating</small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
        <br>
        <!-- product review -->
        <div class="container">
            <div class="row justify-content-md-left pt-5 ">
                <div class="col-md-8">
                    <div class="col-12 comment-panel">
                        <p>{{comment.body|safe}}</p>
                </div>
                    <div class="col-md-10">
                        {% with comments.count as total_comments %}
                        <h2>{{ total_comments }} Review{{ total_comments|pluralize }}
                        </h2>
                        {% endwith %}
                        {% for comment in comments %}
                        Comment {{ for.loopcounter }} by {{ comment.name}}
                        on {{ comment.created_on }}
                        {{ comment.body | linebreaks}}
                        {% empty %}
                        <p>There are no Reviews for this product yet!</p>
                        {% endfor %}
                        <div class="review-alert">
                            {% if commented %}
                            <div class="alert alert-success" role="alert">
                            Your comment is awaiting admin review
                            </div>
                            {% else %}
                        {% if user.is_authenticated %}
                        <h2>Leave a Review</h2>
                        <form id="myForm" method="post">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm ">Submit</button>
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>


    </div>
</div>


{% endblock %}